:root {
    --font: #1a1a1a;
    --white: #fff;
    --white-080: rgba(255, 255, 255, 0.8);
    --white-060: rgba(255, 255, 255, 0.6);
    --white-040: rgba(255, 255, 255, 0.4);
    --black: #000;
    --black-060: rgba(0, 0, 0, 0.6);
    --black-050: rgba(0, 0, 0, 0.5);
}